<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html>

{% block content %}
<h3>图片列表</h3>
<ul>
{% if latest_picture_list %}
    {% for picture in latest_picture_list %}
    <li><a href="{% url 'pic_upload:pic_detail' picture.id %}">{{ picture.title }}</a>
        - {{ picture.date| date:"Y-m-j" }}</li>
    {% endfor %}
{% else %}
    <li>还没有上传新图片</li>
{% endif %}
</ul>
<p><a href="{% url 'pic_upload:pic_upload' %}">上传新图片</a></p>
{% endblock %}